<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Online Learning">

<test name="Login test">
    <classes>
        <class name="com.w2a.facebook.testcases.LoginTest" ></class>  
    </classes>
</test>


<test name="Profile test">
    <classes>
        <class name="com.w2a.facebook.testcases.UploadPicTest" ></class>  
    </classes>
</test>







</suite>
